html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  margin: 0px;
}

.mcText{
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
}

.center{
    text-align: center;
}

.btn-m{
  border: outset;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: #b3b3b3;
  width: 20%;
  height: 7%;
}

.btn-m:hover{
  background-color: #a6a6a6
}

.btn-m:active{
  border: inset;
}

.btn-s{
    text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  box-sizing: inherit;
  font: inherit;
  margin: 0;
  text-transform: none;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid #ccc!important;
  color: #000!important;
  background-color: #f1f1f1!important;
}

.btn-con{
    text-align: center;
}