html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  margin: 0px;
}

.mcText{
    font-family: 'MinecraftiaRegular';
    font-weight: normal;
    font-style: normal;
}

.center{
    text-align: center;
}

.btn-m{
  border: outset;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: #b3b3b3;
  width: 20%;
  height: 7%;
}

.btn-m:hover{
  background-color: #a6a6a6
}

.btn-m:active{
  border: inset;
}