@font-face {
    font-family: 'MinecraftiaRegular';
        src: url('./MinecraftiaRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }

 /* The following rules are deprecated. */ 

@font-face {
    font-family: 'Minecraftia';
        src: url('./Minecraftia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
      }
