body {
    background: linear-gradient(180deg,rgba(255, 237, 117, 1) 13%, rgba(188, 237, 83, 1) 100%);
    height: 100%;
    width: 100%;
}

h1 {
    font-family: 'Roboto';
}

p {
    font-family: 'Roboto';
}

#title {
    text-align: center;
}

#txt {
    text-align: center;
}

#gameFrame {
    background-color: white;
    border-style: inset;
    height: 175px;
    width: 500px;
    max-width: 100%;
}

#hitboxBanana {
    height: 40px!important;
    width: 60px!important;
    position: relative!important;
    top: 286px;
}

#dangers {
    height: 100%;
    width: 100%;
}