/*Div styling - PLEASE do not change this*/
/*

  []
  []]]
  []]]]
  []]]]]]
   []]]]]]]
     []]]]]]]]]
       ]]]]]]]
|
|__    ___      ___    ___       ___    ___          ___     ____              ___
|  \  /   |  | /   \  /   |   | /   \  /   |      | /   \   /____\  |  |   |  (___
|__/  \__/ \ |/    |  \__/ \  |/    |  \__/ \     |/    |   \____   \__/\__/   ___)

  _____________________________________________________________________________________________________________________________
 |                                                                                                                             |
 |   __                                                                            |                        __                 | 
 |  |  \   __   _   _  |  __            |     _      _ __   __   __|         __    |/     _   _            /__ o   _  __  |    |
 |  |__/  /__\ / \ | \ | /__\   |  |  | |__  / \   |/ /__\ /  | /  |   | |  (__    |\  | / \ / \ |  |  |   |   | |/  (__ _|__  |
 |  |     \__  \_/ |_/ | \__    \_/ \_/ |  | \_/   |  \__  \_/ \\_/|   \_/\  __)   | \ |/  | \_/ \_/ \_/   |   | |    __) |_/  |
 |                 |                                                                                                           |
 |_____________________________________________________________________________________________________________________________|


If you're the sort of person who looks at the source code of webpages, try our challenge:

https://banana-news.github.io/banana/share_this_page



*/
.img-container {
  overflow: hidden;
  border-radius: 10%;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #00000000;
  padding: 20px;
}

.options-div, .newtab-div {
  position:relative;
  border-radius: 8px;
  padding: 30px;
  background-color: rgb(255, 254, 167);
  color: #000000;
  transition: 0.3s ease;
  min-height: 500px;
  width: calc(50% - 40px);
  margin: 20px;
  box-sizing: border-box;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  /*filter: brightness(80%);*/
}
.options-div::before, .newtab-div::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  background: rgba(0, 0, 0, 0.3); /* Adjust opacity as desired */
  z-index: -1;
}
.options-div h2, .options-div p, .newtab-div h2, .newtab-div p {
  color:white;

}
.options-div, .newtab-div a {
  text-decoration: none;
  color: #000000;
}


@media (max-width: 768px) {
  .options-div, .newtab-div{
      border-radius: 15px;
      padding: 52.5px;
      background-color: #FFE135;
      border: 3.75px solid #808080;
      color: #000000;
      width: 80%;
      min-height: 600px;
      margin: 10px auto;
  }

  .options {
      padding: 30px;
  }
}

